body
  margin 0
  padding 0

img
  width 100%
  //max-height 100%

.wrapper
  width 1300px
  height 800px
  overflow hidden
  margin 0 auto
  position relative
  border 2px dotted greenyellow
  &__leftArrow
    display inline-block
    font-size 100px
    position absolute
    left 10 px
    color yellow
    opacity 0.8
    line-height 800px
    z-index 100
    cursor:pointer
    &:hover
      color red
  &__rightArrow
    display inline-block
    font-size 100px
    color yellow
    position absolute
    right 10 px
    opacity 0.8
    line-height 800px
    z-index 100
    cursor:pointer
    &:hover
      color red

.slider
  //margin 0 auto
  position relative
  //width 10000px
  height 220px
  transition 1s
  &__element
    text-align center
    display block
    float left
    padding 10px
    width 1280px
    height 800px
    //margin 5px 12px


.mainHeader
  text-align center